body {
    margin: 0 0 0 0;
    background-color: #2C3E50;
}

.grass {
    background: green;
    height: 600px;
    width: 100%;
    position: absolute;
}

.sun {
    background: #F1C40F;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}