body {
    margin: 0 0 0 0;
    background-color: #2C3E50;
    animation-name: skycycle;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-delay: 0;
}

.grass {
    background: green;
    height: 600px;
    width: 100%;
    position: absolute;
}

.sun {
    background: #F1C40F;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    animation-name: suncycle;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes skycycle {
    0% {
        background-color: #2C3E50;
    }
    10% {
        background-color: coral;
    }
    30% {
        background-color: skyblue;
    }
    70% {
        background-color: skyblue;
    }
    90% {
        background-color: coral;
    }
    100% {
        background-color: #2C3E50;
    }
}

@keyframes suncycle {
    0% {
        transform: translate(-200px, 200px);
        background-color: orange;
    }
    25% {
        transform: translate(355px, 0px);
        background-color: yellow;
    }
    50% {
        transform: translate(710px, -50px);
    }
    75% {
        transform: translate(1065px, 0px);
        background-color: yellow;
    }
    100% {
        transform: translate(1420px, 200px);
        background-color: orangered;
    }
}